.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.box {
    margin: auto;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: var(--gold-color);
    font-size: 2rem;
    font-family: "Bitcount Prop Single", system-ui;
}

.card-box {
    width: 50%;
    height: 200px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
}

.card {
    width: 35px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card.a {
    animation: animA 4s ease-in-out infinite;
}

@keyframes animA {
    0%   { transform: translate(calc(-50% - 150px), -50%); }
    15%  { transform: translate(-50%, -50%); }
    25%  { transform: translate(-50%, -50%); }
    100% { transform: translate(-50%, -50%); }
}

.card.b {
    animation: animB 4s ease-in-out infinite;
}

@keyframes animB {
    0%   { transform: translate(calc(-50% + 150px), -50%); }
    15%  { transform: translate(-50%, -50%); }
    25%  { transform: translate(calc(-50% - 5px), -50%) rotate(-25deg); }
    100% { transform: translate(-50%, -50%); }
}

.card.c {
    animation: animC 4s ease-in-out infinite;
}

@keyframes animC {
    0%   { transform: translate(-50%, calc(-50% - 150px)); }
    15%  { transform: translate(-50%, -50%); }
    25%  { transform: translate(-50%, -50%) rotate(25deg); }
    100% { transform: translate(-50%, -50%); }
}

.a {
    box-shadow: inset 4px 4px 6px rgba(0, 150, 255, 1),
    inset -4px 4px 6px rgba(0, 150, 255, 1),
    inset 4px -4px 6px rgba(0, 150, 255, 1),
    inset -4px -4px 6px rgba(0, 150, 255, 1);
}

.b {
    box-shadow: inset 4px 4px 6px rgb(255, 0, 47),
    inset -4px 4px 6px rgb(255, 0, 47),
    inset 4px -4px 6px rgb(255, 0, 47),
    inset -4px -4px 6px rgb(255, 0, 47);
}

.c {
    box-shadow: inset 4px 4px 6px rgb(123, 255, 0),
    inset -4px 4px 6px rgb(123, 255, 0),
    inset 4px -4px 6px rgb(123, 255, 0),
    inset -4px -4px 6px rgb(123, 255, 0);
}