services:
  scrumpoker:
    container_name: Scrumpoker
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      ASPNETCORE_URLS: "http://+:8080"
      ASPNETCORE_DETAILEDERRORS: "true"
      Logging__LogLevel__Default: "Debug"
    restart: unless-stopped