:root {
    --gold-color: #FFD700;
    --black-bg: #000000;
    --danger: #bf0d0d;
    --blue: #4266e3;
}

html,
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: #000;
    height: 100%;
}

.primary-button {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 4rem;
    color: var(--gold-color);
    background: var(--black-bg);
    border: 1px solid var(--gold-color);
    font-size: 1.25rem;
    cursor: pointer;
    border-radius: 1.25rem;
    transition: color 0.5s ease;
    z-index: 0;
}

.primary-button::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background: var(--gold-color);
    border-radius: 1.25rem;
    z-index: -1;
    transition: height 0.6s ease;
}

.primary-button:hover::before {
    height: 100%;
}

.primary-button:hover {
    color: var(--black-bg);
    border-color: var(--black-bg);
    z-index: 1;
}

input:focus-visible {
    outline: none;
}